<% include common/header.ejs %>

<div class="menu">
    <div class="discount ribbon">
        <img src="assets/images/discount.svg">
        <div class="ribb" style="text-align: center"> This week
            <div style=" border-bottom-style: dashed"> Discount</div>
            -20%
        </div>
    </div>
    <div class="pizza flex">
        <div class="ribbon">
            <div class="ribb" style="text-align: center"> Pizza <br>KMA</br> </div>
            <img class="disc" src="assets/images/discount.svg"></div>
        <div class="part flex">
            <div class="contacts flex">
                <div class="b1"> (044) 222 5 222</div>
                <div class="b2"> 24/7</div>
                <div class="b3"> Free shipping</div>
            </div>
            <div>
                <button class="out" type="button"> Log out</button>
            </div>
        </div>
    </div>
    <div class="forms-orders flex" style="flex-wrap: wrap;">

        <div class="forms">
            <form action="#0" >
                <div id="f-name" class="form">
                    <input required type="text" id="first_name" name="first_name" placeholder="First name">
                </div>

                <div id="l-name" class="form">
                    <input required type="text" id="last_name" name="last_name" placeholder="Last name">
                </div>

                <div id="address" class="form">
                    <input required type="text" id="home_address" name="home_address" placeholder="Address" minlength="10">
                    <div class = "requirements"> Size of the address is too small. </div>
                </div>

                <div id="number" class="form">
                    <input value ="+380" required type="tel" id="phone_number" name="phone_number" placeholder="Phone number" pattern="+380[0-9]{9}" maxlength="13" />
                    <div class = "requirements"> Please enter valid phone number. </div>
                </div>

                <div id="e-mail" class="form">
                    <input required type="email" id="email" name="email" placeholder="Email">
                    <div class = "requirements"> Please enter valid email. </div>
                </div>
            </form>
            <div class="send-btn">
                <a href="#" class="send btn btn-default">Ready</a>
            </div>

        </div>

        <div class="saved-order">
            <div> Name:
                <div id="name" class="inline"> </div>
            </div>
            <div> Surname:
                <div id="surname" class="inline"> </div>
            </div>
            <div> Address:
                <div id="address2" class="inline"> </div>
            </div>
            <div> Phone:
                <div id="phone" class="inline"> </div>
            </div>
            <div> Email:
                <div id="email2" class="inline"> </div>
            </div>
            <div> Estimated time of delivery:
                <div id="time" class="inline">40 min</div>
            </div>
        </div>
    </div>
</div>
<div id="cart">
    <div class="orders">
        <div class="kek flex">
            <div class="ordersText"> Orders
                <div id="tOrders" class="circle"> 0</div>
            </div>
            <a href="#" class="b3 btn btn-default">Clear cart</a>
        </div>
    </div>
    <div id="orders">
    </div>
    <div class="toOrder">
        <div class=" c flex">
            <div class="sum"> Total price :</div>
            <div class="pr"> 0 grn</div>
        </div>
        <div>
            <a href="#" class="zamovyty btn btn-default" disabled >Order</a>
        </div>
    </div>
</div>

<% include common/footer.ejs %>